/* Main murray CSS */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}
html {
    overflow: auto;
}
body {
    background: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #444444;
}

a, a:link, a:visited {
  color : #444444;
}
a:hover, a:focus {
  color : #111111;
}
a:focus {
    outline: 0;
}

#sidebar.empty,
body.front #sidebar,
body.front .toggle {
  display : none;
}

#sidebar .properties div {
  margin-bottom : 1em;
}
#sidebar .properties dl {
    margin: 0;
    overflow: hidden;
}
#sidebar .properties dl dt {
    display: block;
    float: left;
    width: 72px;
    margin-right: 10px;
    font-style: italic;
    color: #666666;
    clear : both;
}
#sidebar .properties dl dd {
    display: block;
    float: left;
    width: 236px;
}
#sidebar .properties dl dd.item-edit {
  width : 42px;
}
#sidebar ul, #sidebar ul li {
  list-style : none;
  margin : 0;
  padding : 0;
}

#sidebar .media {
  margin-bottom : 2em;
}
#sidebar a.download {
    text-decoration: none;
    font-size: 11px;
    color: #444444;
    display : block;
}
#sidebar a.download:hover {
  text-decoration : underline;
}
#sidebar a.download.application-pdf {
    background: url("../images/icons.png") no-repeat 0 3px scroll transparent;
    padding-left: 35px;
}
#sidebar a.download.application-pdf:hover {
    background: url("../images/icons.png") no-repeat 0 -23px scroll transparent;
}
#wrapper {
/*    
    background: url("../images/sidebar.png") repeat-y top center scroll transparent;
*/
    position: relative;
    height: 100%;
    width : 100%;
    overflow : hidden;
}
#header {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    padding : 0px;
    height : 95px;
    text-transform : lowercase;
}
#name-and-slogan {
  margin-top : 35px;
  letter-spacing : 1px;
}
div#site-name strong a,
#header h1,
#header h1 a {
    font-weight : normal;
    font-size : px;
    color : #444444;
    display : inline;
    text-decoration : none;
}
#header #site-slogan {
    display : inline;
    font-size : 24px;
    text-transform : lowercase;
    margin-left : 20px;
    color : #999999;
    color : rgba(0,0,0,0.4);
}
.container_12 {
    position: relative;
}
/* Sidebar */
#sidebar-container {
    position: absolute;
    bottom: 0px;
/*
    left: 50%;
    margin-left: -570px;
    */
    right : 0px;
    height : 100%;
}
#sidebar {
    position: relative;
    z-index : 30;
    width : 400px;
    float  : right;
    display : table;
    background-color : rgb(255,255,255);
    background-color : rgba(255,255,255,0.7);
    border-left : 1px solid rgb(255,255,255);
    border-left-color : rgba(255,255,255, 0.5);
    bottom: 0;
    height : 100%;    
}
#sidebar .body {
    position: absolute;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 240px;
    bottom: 230px;
    width : 359px;
    overflow : auto;
    max-height : 400px;
}

#sidebar .body a {
  text-decoration : none;
  padding-bottom : 1px;
  border-bottom : 1px solid #888888;
}
#sidebar .body a:hover, 
#sidebar .body a:focus {
  border-bottom-color : #444444;
}
#sidebar .item-edit a,
#sidebar .body a.download {
  border : none;
}
#wrapper .toggle {
    position : absolute;
    z-index : 100;
    top : 0;
    right : 0;
    width : 40px;
    height : 40px;
}
#wrapper .toggle a {
    width : 40px;
    height : 40px;
    display : block;
    background-image : url(../images/buttons.png);
    background-position : 0 0px;
    background-repeat : no-repeat;
    text-indent : -5000px;
}
#wrapper .toggle a:hover {
    background-position : 0 -40px;
}

#sidebar .body .content {
}
.sidebar-first #content,
#sidebar-container .content {
  /*
  width : 360px;
  */
  margin-left : 0;
  margin-top : 1em;
  margin-bottom : 1em;
}
h1, h2 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-weight : normal;
}
#sidebar-container h2,
#sidebar-container h2 a,
#sidebar-container div.title div.meta,
#sidebar .body .title {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #333333;
    text-decoration : none;
    padding-bottom : 3px;
    border-bottom : 1px solid transparent;
}
#sidebar-container div.title {
    width : 368px;
    bottom : 190px;
    height : 40px;
    right : 28px;
    position : absolute;
    z-index : 999;
    display: inline;
    text-align: right;
}

#sidebar-container h2,
#sidebar-container h2 a,
#sidebar .body .title h4 {
    display: inline;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}
#sidebar-container h2 {
}
#sidebar-container h2,
#sidebar-container h2 a,
#sidebar-container div.title div.meta {
    position : relative;
    display: inline ! important;
}
body.front #sidebar-container h2 a:hover,
body.front #sidebar-container a:hover {  
    border-color : rgb(51,51,51);
    border-color : rgba(51,51,51,0.5);
}


#sidebar-container div.title div.meta {
    margin-left : 0.4em;  
}
#sidebar-container div.title div.meta a {
    text-decoration: none;
    color : #444444;
}
/* Bottom */
#bottom {
    /*
    background: url("../images/bottom.png") repeat-x top center scroll transparent;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 190px;
    */
    text-transform : lowercase;
    position: relative;
    margin-top: -10px;
    z-index: 100;
    color : #cccccc;
    display: none;
}
/* Installations */
#bottom #installations {
    height: 95px;
}
#bottom #installations ul {
    padding: 7px 0;
}
#installations {}
#installations ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#installations ul li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 79px;
    height: 79px;
    padding: 0;
    border: 1px solid #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 7px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 0px 10px 0px;
    border-radius: 0px 0px 10px 0px;
}
#installations ul li a {
    position: relative;
}
#installations-x ul li a:before {
    content: url("../images/btn_play.png");
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}
#installations ul li img {
    display: block;
    margin: 0;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 0px 10px 0px;
    border-radius: 0px 0px 10px 0px;
}
/* Menu */
/*
#bottom #primary-links,
#bottom #menu {
    height: 95px;
    line-height: 95px;
}
#bottom #menu #primary-links ul,
#bottom #menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#bottom #primary-links ul li,
#bottom #menu ul li {
    list-style: none;
    float: left;
    width: 172px;
    padding: 0;
    margin: 7px 0;
    text-align: right;
}
#bottom #primary-links ul li a,
#bottom #menu ul li a {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}
#bottom #menu #primary-links ul ul {
    display : none;
}
*/

/* Copyright */
#bottom .copyright {
    position: absolute;
    z-index : 100;
    bottom: 5px;
    right: 28px;
    text-align: right;
    font-size: 11px;
    color: #cccccc;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;    
}
#bottom .copyright a {
    text-decoration: none;
    color : #cccccc;
}
#bottom .copyright a.home-disabled {
  background: url(/modules/toolbar/toolbar.png) no-repeat 0 -45px;
  display: block;
  float : left;
  height: 14px;
  margin: 3px 0px;
  text-indent: -9999px;
  vertical-align: text-bottom;
  width: 11px;
}

#thumb_nails {
    width:100%;
    position: absolute;
    height:100%;
}

#gallery {
    position : absolute;
    width : 100%;
    height : 100%;
}
#gallery a.navigation {
  position : absolute;
  z-index : 15;
  height : 100%;
  width : 33%;
  display : block;
  text-indent : -5000px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter:alpha(opacity=50);
  -webkit-opacity : 0.5;
  -moz-opacity : 0.5;
  opacity : 0.5;
}
#gallery a.navigation.next {
  width : 66%;
  left : 33%;
}
#gallery a.navigation.show {
  z-index : 16;
  height : 180px;
  bottom : 0px;
  width : 100%;
}
#gallery a.navigation.show:hover {

}
body.slideshow-running #gallery a.navigation:hover {
/*
  background : none;
  */
}
#gallery a.navigation.previous:hover {
  background-image : url(../images/arrow-prev-grey.png);
  background-repeat : no-repeat;
  background-position : 10% 40%;
}
#gallery a.navigation.next:hover {
  background-image : url(../images/arrow-next-grey.png);
  background-repeat : no-repeat;
  background-position : 90% 40%;
}
#gallery ul,
#gallery ul li {
    width : 100%;
    height : 100%;
    position : absolute;
    list-style : none;
    padding : 0;
    margin : 0;
    text-align : center;
    overflow : hidden;
    z-index: 8;
}
#gallery ul li {
    display: none;
}
#gallery ul li.active {
    z-index: 10;
    display: block; 
}
#gallery ul li.last-active {
  z-index : 9;
}

#gallery ul li .detail-info {
    display: none;
}
#gallery ul li .detail-body {
    display: none;
}

#gallery ul li a {
  width : 100%;
  height : 100%;
  background-color : #efefef;
  display : block;
}
#gallery ul li img {
  height : 100%;
    /*max-width : 100%;
    max-height : 100%;*/
}
#gallery ul li.crop img {
   width : 100%;
   height : auto;
}

#field_property p {
    margin: 0px;
    padding: 0px;
}

ul.nice-menu ul {
    border-top: 0px !important;
}
.tabs a {
  background : none;
  display : inline;
    text-decoration: none;
    color: #444444;
    font-size : 0.9em;
    text-transform : uppercase;
}

.breadcrumb a,
.section #main-menu li a,
label,
a.edit,
a.edit_property {
    text-decoration: none;
    color: #444444;
    font-size : 0.9em;
    text-transform : uppercase;
    display : block;
    font-weight : normal;
}
.breadcrumb a,
.section #main-menu li a {
  display : inline;
}
.breadcrumb a:hover,
.section #main-menu li a:hover, 
a.edit_property:hover {
  text-decoration : underline;
  color : red;
}
#footer {
    background-color: rgba(255, 255, 255, 0.75);
    text-align: right;
}

.no-sidebars #page-wrapper,
.page-admin #page-wrapper,
.page-user #page-wrapper {
  width : 960px;
  margin : 0 auto;
}

input[type=text], input[type=password] {
  width : 10em;
  padding : 0.2em 0.5em;
  border : 1px solid #cccccc;
  font-size : 2em;
}