#primary-links,
.secondary {
	position : absolute;
	bottom : 0;
	height : 95px;
	width : 100%;
	z-index : 100;
}

#primary-links {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 16px;
	color: #333333;
	background-color : rgba(255,255,255,0.75);
	border-top : 1px solid rgba(255,255,255,0.9);
}
.secondary {
	bottom : 96px;
	background-color : rgba(255,255,255,0.5);
	border-top : 1px solid rgba(255,255,255,0.9);
	z-index : 90;
	height : 0;
	opacity : 0;
	overflow : hidden;
    
}
.secondary.active {
	opacity : 1;
	height : 95px;
}

.secondary ul,
.secondary ul li,
#primary-links ul, 
#primary-links ul li {
	list-style : none;
	margin : 0;
	padding : 0;
}
.secondary ul,
#primary-links > ul {
	width : 1140px;
	margin-left : auto;
	margin-right : auto;
    z-index: 50;
}

#primary-links > ul > li {
	float : left;
	width : 190px;
	height : 100%;
}
#primary-links > ul > li > a {
	display : block;
	margin : 7px;
	color : #444444;
	text-decoration : none;
	text-align : right;
	width : 170px;
	height : 60px;
	padding-top : 35px;
	margin-left : 10px;
	top : 50%;
	margin-top : 0px;
}
#primary-links > ul > li.active > a {
	opacity : 0;
}
#primary-links > ul > li > ul {
	position : absolute;
	height : 94px;
	width : 188px;
	background-color : rgba(255,255,255,0.6);
	border-left : 1px solid white;
	border-right : 1px solid white;
	text-align : right;
	top : 0;
	opacity : 0;
}
#primary-links > ul > li > ul:hover {
}

/* this fits 5 items */
#primary-links > ul > li > ul li a {
	display : block;
	padding : 1px 7px 0px 7px;
	color : #888888;
	text-decoration : none;
	text-align : right;
	font-size : 12px;
	min-height : 13px;
}
/* this fits 4 items */
/*
#primary-links > ul > li > ul li a {
	padding : 3px 7px 3px 7px;
	font-size : 14px;
	min-height : 17px;
}
*/
#primary-links > ul > li > ul li a:hover {
	background-color : white;
	color : #333333;
}

.secondary li {
	width : 95px;
	height : 95px;
	float : left;
}
.secondary li a {
	width : 79px;
	height : 79px;
	margin : 7px;
	display : block;
	border-bottom-right-radius : 10px;
	border : 1px solid white;
	overflow : hidden;
	opacity : 0.6;
/* styles for missing thumbnails */
	text-decoration: none;
  font-size: 0.9em;
  word-break: break-all;
  background-color: white;
}
.secondary li a.active,
.secondary li a:hover {
	opacity : 1.0;
}
.secondary li a.active,
.secondary li a.active img {
	border-top-left-radius : 10px;
	border-bottom-right-radius : 0px;
}

.secondary li a img {
	border-bottom-right-radius : 10px;
}

#primary-links ul.nice-menu-down {
    float: none;
    border: 0px !important;
}
#primary-links ul.nice-menu-down li {
    border: 0px;
}

#primary-links ul.nice-menu-down li {
    background: transparent;
}
#primary-links ul.nice-menu ul li {
    width: 100%;
}
