/*
@media all and (max-width: 1180px) {
  
  #sidebar-container {
    margin-left : -620px;
  }
  
  #sidebar div.body {

  }
  
  .navigation {
    background-color: red;
  }
}
*/
@media all and (max-width: 1180px) {
  /*
  #sidebar-container {
    margin-left : -620px;
  }*/
  
  #sidebar {
    width : 305px;
  }
  #sidebar div.body {
    width : 285px;
  }
  #sidebar div.body .viewport,
  #sidebar div.body .viewport .overview {
    width : 260px;
  }  
  #sidebar-container div.title {
    width : 298px;    
  }
  body {
    min-width : 768px;
  }/*
  .secondary ul, #primary-links > ul {
    width : 768px;
  }
  */
  #primary-links > ul > li {
    /*
    width : 190px;
    */
    width : 140px;
  }
  #primary-links > ul > li > a {
    /*
    width : 170px;
    */
    width : 120px;
  }
  #primary-links > ul > li > ul {
    /*
    width : 188px;
    */
    width : 138px;
  }

  .navigation {

  }
  /* stack labels */
  #sidebar .properties dl dd, #sidebar .properties dl dd {
    float: none;
    clear: both;
  }
}

@media all and (max-width: 768px) {
}